<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:href="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin users list</title>
</head>
<body>
<h1>
    <center>User's list page:
        <table border="1" align="center">
            <thead>
            <tr>
                <td>Name</td>
                <td>Last name</td>
                <td>Role</td>
                <td>Edit</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${adminusers}">
                <td th:text="${user.getName()}">...</td>
                <td th:text="${user.getLastName()}">...</td>
                <td th:text="${user.getRoles()}">...</td>
                <td>
                    <form th:action="@{/admin/{id}/updateUser(id=${user.getId()})}">
                        <input valign="middle" align="center" type="submit" value="Edit">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
</h1>
<center><input type="button" value="Add new user" onclick="window.location.href = 'addUser'">
    <center><input type="button" value="LOGOUT" onclick="window.location.href = 'logout'">

</body>
</html>